# Recommendation - Data Processing

## Pandas Background

In [1]:
import pandas as pd

In [2]:
data_col = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('~/Downloads/ml-100k/u.data', sep='\t', names=data_col)
ratings['date'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [3]:
ratings

       user_id  movie_id  rating  timestamp                date
0          196       242       3  881250949 1997-12-04 15:55:49
1          186       302       3  891717742 1998-04-04 19:22:22
2           22       377       1  878887116 1997-11-07 07:18:36
3          244        51       2  880606923 1997-11-27 05:02:03
4          166       346       1  886397596 1998-02-02 05:33:16
5          298       474       4  884182806 1998-01-07 14:20:06
6          115       265       2  881171488 1997-12-03 17:51:28
7          253       465       5  891628467 1998-04-03 18:34:27
8          305       451       3  886324817 1998-02-01 09:20:17
9            6        86       3  883603013 1997-12-31 21:16:53
10          62       257       2  879372434 1997-11-12 22:07:14
11         286      1014       5  879781125 1997-11-17 15:38:45
12         200       222       5  876042340 1997-10-05 09:05:40
13         210        40       3  891035994 1998-03-27 21:59:54
14         224        29       3  888104457 1998-02-21 23:40:57
15         303       785       3  879485318 1997-11-14 05:28:38
16         122       387       5  879270459 1997-11-11 17:47:39
17         194       274       2  879539794 1997-11-14 20:36:34
18         291      1042       4  874834944 1997-09-21 09:42:24
19         234      1184       2  892079237 1998-04-08 23:47:17
20         119       392       4  886176814 1998-01-30 16:13:34
21         167       486       4  892738452 1998-04-16 14:54:12
22         299       144       4  877881320 1997-10-26 15:55:20
23         291       118       2  874833878 1997-09-21 09:24:38
24         308         1       4  887736532 1998-02-17 17:28:52
25          95       546       2  879196566 1997-11-10 21:16:06
26          38        95       5  892430094 1998-04-13 01:14:54
27         102       768       2  883748450 1998-01-02 13:40:50
28          63       277       4  875747401 1997-10-01 23:10:01
29         160       234       5  876861185 1997-10-14 20:33:05
...        ...       ...     ...        ...                 ...
99970      449       120       1  879959573 1997-11-19 17:12:53
99971      661       762       2  876037121 1997-10-05 07:38:41
99972      721       874       3  877137447 1997-10-18 01:17:27
99973      821       151       4  874792889 1997-09-20 22:01:29
99974      764       596       3  876243046 1997-10-07 16:50:46
99975      537       443       3  886031752 1998-01-28 23:55:52
99976      618       628       2  891308019 1998-03-31 01:33:39
99977      487       291       3  883445079 1997-12-30 01:24:39
99978      113       975       5  875936424 1997-10-04 03:40:24
99979      943       391       2  888640291 1998-02-28 04:31:31
99980      864       685       4  888891900 1998-03-03 02:25:00
99981      750       323       3  879445877 1997-11-13 18:31:17
99982      279        64       1  875308510 1997-09-26 21:15:10
99983      646       750       3  888528902 1998-02-26 21:35:02
99984      654       370       2  887863914 1998-02-19 04:51:54
99985      617       582       4  883789294 1998-01-03 01:01:34
99986      913       690       3  880824288 1997-11-29 17:24:48
99987      660       229       2  891406212 1998-04-01 04:50:12
99988      421       498       4  892241344 1998-04-10 20:49:04
99989      495      1091       4  888637503 1998-02-28 03:45:03
99990      806       421       4  882388897 1997-12-17 20:01:37
99991      676       538       4  892685437 1998-04-16 00:10:37
99992      721       262       3  877137285 1997-10-18 01:14:45
99993      913       209       2  881367150 1997-12-06 00:12:30
99994      378        78       3  880056976 1997-11-20 20:16:16
99995      880       476       3  880175444 1997-11-22 05:10:44
99996      716       204       5  879795543 1997-11-17 19:39:03
99997      276      1090       1  874795795 1997-09-20 22:49:55
99998       13       225       2  882399156 1997-12-17 22:52:36
99999       12       203       3  879959583 1997-11-19 17:13:03

[100000 rows x 5 columns]

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
user_id      100000 non-null int64
movie_id     100000 non-null int64
rating       100000 non-null int64
timestamp    100000 non-null int64
date         100000 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 3.8 MB

In [5]:
ratings.head()

   user_id  movie_id  rating  timestamp                date
0      196       242       3  881250949 1997-12-04 15:55:49
1      186       302       3  891717742 1998-04-04 19:22:22
2       22       377       1  878887116 1997-11-07 07:18:36
3      244        51       2  880606923 1997-11-27 05:02:03
4      166       346       1  886397596 1998-02-02 05:33:16

In [6]:
ratings.tail()

       user_id  movie_id  rating  timestamp                date
99995      880       476       3  880175444 1997-11-22 05:10:44
99996      716       204       5  879795543 1997-11-17 19:39:03
99997      276      1090       1  874795795 1997-09-20 22:49:55
99998       13       225       2  882399156 1997-12-17 22:52:36
99999       12       203       3  879959583 1997-11-19 17:13:03

In [7]:
ratings.sample(10)

       user_id  movie_id  rating  timestamp                date
92500      703       328       3  875242303 1997-09-26 02:51:43
49754      548       100       5  891044304 1998-03-28 00:18:24
94251      585       462       3  891283124 1998-03-30 18:38:44
37556      374       247       1  880936522 1997-12-01 00:35:22
96499      730       268       4  880309927 1997-11-23 18:32:07
66433      522       521       5  876961190 1997-10-16 00:19:50
86889      880      1225       2  880174834 1997-11-22 05:00:34
47724      255       300       3  883215358 1997-12-27 09:35:58
23096       54       471       4  880937399 1997-12-01 00:49:59
14150      311       775       3  884365579 1998-01-09 17:06:19

In [8]:
ratings.describe(include='all')

,user_id,movie_id,rating,timestamp,date
count,100000.00000,100000.000000,100000.000000,1.000000e+05,100000
unique,NaN,NaN,NaN,NaN,49282
top,NaN,NaN,NaN,NaN,1998-03-27 21:20:06
freq,NaN,NaN,NaN,NaN,12
first,NaN,NaN,NaN,NaN,1997-09-20 03:05:10
last,NaN,NaN,NaN,NaN,1998-04-22 23:10:38
mean,462.48475,425.530130,3.529860,8.835289e+08,NaN
std,266.61442,330.798356,1.125674,5.343856e+06,NaN
min,1.00000,1.000000,1.000000,8.747247e+08,NaN
25%,254.00000,175.000000,3.000000,8.794487e+08,NaN
50%,447.00000,322.000000,4.000000,8.828269e+08,NaN
75%,682.00000,631.000000,4.000000,8.882600e+08,NaN
max,943.00000,1682.000000,5.000000,8.932866e+08,NaN

In [10]:
user_col = ['user_id', 'age', 'gender', 'occupation', 'zip code']
users = pd.read_csv('~/Downloads/ml-100k/u.user', sep='|', names=user_col)

In [11]:
users

     user_id  age gender     occupation zip code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
5          6   42      M      executive    98101
6          7   57      M  administrator    91344
7          8   36      M  administrator    05201
8          9   29      M        student    01002
9         10   53      M         lawyer    90703
10        11   39      F          other    30329
11        12   28      F          other    06405
12        13   47      M       educator    29206
13        14   45      M      scientist    55106
14        15   49      F       educator    97301
15        16   21      M  entertainment    10309
16        17   30      M     programmer    06355
17        18   35      F          other    37212
18        19   40      M      librarian    02138
19        20   42      F      homemaker    95660
20        21   26      M         writer    30068
21        22   25      M         writer    40206
22        23   30      F         artist    48197
23        24   21      F         artist    94533
24        25   39      M       engineer    55107
25        26   49      M       engineer    21044
26        27   40      F      librarian    30030
27        28   32      M         writer    55369
28        29   41      M     programmer    94043
29        30    7      M        student    55436
..       ...  ...    ...            ...      ...
913      914   44      F          other    08105
914      915   50      M  entertainment    60614
915      916   27      M       engineer    N2L5N
916      917   22      F        student    20006
917      918   40      M      scientist    70116
918      919   25      M          other    14216
919      920   30      F         artist    90008
920      921   20      F        student    98801
921      922   29      F  administrator    21114
922      923   21      M        student    E2E3R
923      924   29      M          other    11753
924      925   18      F       salesman    49036
925      926   49      M  entertainment    01701
926      927   23      M     programmer    55428
927      928   21      M        student    55408
928      929   44      M      scientist    53711
929      930   28      F      scientist    07310
930      931   60      M       educator    33556
931      932   58      M       educator    06437
932      933   28      M        student    48105
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [12]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user_id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB

In [13]:
users.head()

   user_id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [14]:
users.tail()

     user_id  age gender     occupation zip code
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

In [15]:
users.sample(10)

     user_id  age gender     occupation zip code
869      870   22      M        student    65203
644      645   27      M     programmer    53211
94        95   31      M  administrator    10707
473      474   51      M      executive    93711
832      833   34      M         writer    90019
409      410   30      F         artist    94025
348      349   68      M        retired    61455
14        15   49      F       educator    97301
36        37   23      M        student    55105
753      754   59      F      librarian    62901

In [16]:
users.describe(include='all')

           user_id         age gender occupation zip code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

In [17]:
movies_col = ["movie_id", "title", "release date", "video release date", "IMDb URL", "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
movies = pd.read_csv('~/Downloads/ml-100k/u.item', sep='|', encoding='latin-1', names=movies_col, usecols=range(5))

In [18]:
movies

,movie_id,title,release date,video release date,IMDb URL
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995)
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995)
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il..."
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995)
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T..."
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...
...,...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Entertaining%...
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Chairman+of+the+Board...
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Favor,%20The%..."
1655,1656,Little City (1998),20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Little+City+(...
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995)
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...
1659,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20..."
1661,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...
1665,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...
1669,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998)
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...
1671,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993)
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995)
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20..."
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 5 columns):
movie_id              1682 non-null int64
title                 1682 non-null object
release date          1681 non-null object
video release date    0 non-null float64
IMDb URL              1679 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 65.8+ KB

In [20]:
movies.head()

,movie_id,title,release date,video release date,IMDb URL
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [21]:
movies.tail()

,movie_id,title,release date,video release date,IMDb URL
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...

In [22]:
movies.sample(10)

,movie_id,title,release date,video release date,IMDb URL
971,972,Passion Fish (1992),01-Jan-1992,NaN,http://us.imdb.com/M/title-exact?Passion%20Fis...
365,366,Dangerous Minds (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dangerous%20M...
433,434,Forbidden Planet (1956),01-Jan-1956,NaN,http://us.imdb.com/M/title-exact?Forbidden%20P...
1450,1451,Foreign Correspondent (1940),01-Jan-1940,NaN,http://us.imdb.com/M/title-exact?Foreign%20Cor...
933,934,"Preacher's Wife, The (1996)",13-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Preacher's%20...
976,977,"Substitute, The (1996)",19-Apr-1996,NaN,"http://us.imdb.com/M/title-exact?Substitute,%2..."
1071,1072,"Pyromaniac's Love Story, A (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Pyromaniac's%...
541,542,Pocahontas (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Pocahontas%20...
74,75,Brother Minister: The Assassination of Malcolm...,01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Brother%20Min...
1606,1607,Hurricane Streets (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Hurricane+Streets+(1998)

In [23]:
movies.describe(include='all')

,movie_id,title,release date,video release date,IMDb URL
count,1682.000000,1682,1681,0.0,1679
unique,NaN,1664,240,NaN,1660
top,NaN,Chairman of the Board (1998),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Body%20Snatch...
freq,NaN,2,215,NaN,2
mean,841.500000,NaN,NaN,NaN,NaN
std,485.695893,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN
25%,421.250000,NaN,NaN,NaN,NaN
50%,841.500000,NaN,NaN,NaN,NaN
75%,1261.750000,NaN,NaN,NaN,NaN
max,1682.000000,NaN,NaN,NaN,NaN

In [24]:
movie_rating = pd.merge(movies, ratings)
lens = pd.merge(movie_rating, users)

In [25]:
lens

,movie_id,title,release date,video release date,IMDb URL,user_id,rating,timestamp,date,age,gender,occupation,zip code
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,308,4,887736532,1998-02-17 17:28:52,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,308,5,887737890,1998-02-17 17:51:30,60,M,retired,95076
2,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),308,4,887739608,1998-02-17 18:20:08,60,M,retired,95076
3,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,308,4,887738847,1998-02-17 18:07:27,60,M,retired,95076
4,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),308,5,887736696,1998-02-17 17:31:36,60,M,retired,95076
5,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,308,4,887737194,1998-02-17 17:39:54,60,M,retired,95076
6,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),308,5,887737837,1998-02-17 17:50:37,60,M,retired,95076
7,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,308,5,887737243,1998-02-17 17:40:43,60,M,retired,95076
8,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,308,3,887739426,1998-02-17 18:17:06,60,M,retired,95076
9,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,308,4,887739056,1998-02-17 18:10:56,60,M,retired,95076
10,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),308,3,887737383,1998-02-17 17:43:03,60,M,retired,95076
11,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,308,3,887740729,1998-02-17 18:38:49,60,M,retired,95076
12,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,308,4,887737647,1998-02-17 17:47:27,60,M,retired,95076
13,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,308,5,887737293,1998-02-17 17:41:33,60,M,retired,95076
14,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...,308,4,887738057,1998-02-17 17:54:17,60,M,retired,95076
15,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",308,4,887740649,1998-02-17 18:37:29,60,M,retired,95076
16,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,308,3,887737036,1998-02-17 17:37:16,60,M,retired,95076
17,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...,308,4,887738933,1998-02-17 18:08:53,60,M,retired,95076
18,31,Crimson Tide (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Crimson%20Tid...,308,3,887739472,1998-02-17 18:17:52,60,M,retired,95076
19,32,Crumb (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Crumb%20(1994),308,5,887737432,1998-02-17 17:43:52,60,M,retired,95076
20,42,Clerks (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Clerks%20(1994),308,4,887738191,1998-02-17 17:56:31,60,M,retired,95076
21,44,Dolores Claiborne (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Dolores%20Cla...,308,4,887740451,1998-02-17 18:34:11,60,M,retired,95076
22,45,Eat Drink Man Woman (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Yinshi%20Nan%...,308,4,887736843,1998-02-17 17:34:03,60,M,retired,95076
23,47,Ed Wood (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Ed%20Wood%20(...,308,4,887738933,1998-02-17 18:08:53,60,M,retired,95076
24,48,Hoop Dreams (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Hoop%20Dreams...,308,4,887736880,1998-02-17 17:34:40,60,M,retired,95076
25,49,I.Q. (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?I.Q.%20(1994),308,3,887740833,1998-02-17 18:40:33,60,M,retired,95076
26,50,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,308,5,887737431,1998-02-17 17:43:51,60,M,retired,95076
27,54,Outbreak (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Outbreak%20(1...,308,2,887740254,1998-02-17 18:30:54,60,M,retired,95076
28,55,"Professional, The (1994)",01-Jan-1994,NaN,http://us.imdb.com/Title?L%E9on+(1994),308,3,887738760,1998-02-17 18:06:00,60,M,retired,95076
29,56,Pulp Fiction (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,308,5,887736924,1998-02-17 17:35:24,60,M,retired,95076
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,332,Kiss the Girls (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kiss+the+Girl...,631,3,888465180,1998-02-26 03:53:00,18,F,student,38866
99971,334,U Turn (1997),01-Jan-1997,NaN,http://us.imdb.com/Title?U+Turn+(1997),631,2,888464941,1998-02-26 03:49:01,18,F,student,38866
99972,338,Bean (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Bean+(1997),631,2,888465299,1998-02-26 03:54:59,18,F,student,38866
99973,346,Jackie Brown (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,631,4,888465004,1998-02-26 03:50:04,18,F,student,38866
99974,682,I Know What You Did Last Summer (1997),17-Oct-1997,NaN,http://us.imdb.com/M/title-exact?I+Know+What+Y...,631,2,888465247,1998-02-26 03:54:07,18,F,student,38866
99975,873,Picture Perfect (1997),01-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Picture+Perfe...,631,2,888465084,1998-02-26 03:51:24,18,F,student,38866
99976,877,Excess Baggage (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Excess+Baggag...,631,2,888465131,1998-02-26 03:52:11,18,F,student,38866
99977,886,"Life Less Ordinary, A (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Life+Less+Ord...,631,4,888465216,1998-02-26 03:53:36,18,F,student,38866
99978,1527,Senseless (1998),09-Jan-1998,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,631,2,888465351,1998-02-26 03:55:51,18,F,student,38866
99979,272,Good Will Hunting (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99980,288,Scream (1996),20-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Scream%20(1996),729,2,893286261,1998-04-22 23:04:21,19,M,student,56567
99981,294,Liar Liar (1997),21-Mar-1997,NaN,http://us.imdb.com/Title?Liar+Liar+(1997),729,2,893286338,1998-04-22 23:05:38,19,M,student,56567
99982,300,Air Force One (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Air+Force+One...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99983,310,"Rainmaker, The (1997)",01-Jan-1997,NaN,"http://us.imdb.com/M/title-exact?Rainmaker,+Th...",729,3,893286204,1998-04-22 23:03:24,19,M,student,56567
99984,313,Titanic (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,729,3,893286638,1998-04-22 23:10:38,19,M,student,56567
99985,322,Murder at 1600 (1997),18-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Murder%20at%2...,729,4,893286637,1998-04-22 23:10:37,19,M,student,56567
99986,328,Conspiracy Theory (1997),08-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Conspiracy+Th...,729,3,893286638,1998-04-22 23:10:38,19,M,student,56567
99987,333,"Game, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Game%2C+The+(...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99988,338,Bean (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Bean+(1997),729,1,893286373,1998-04-22 23:06:13,19,M,student,56567
99989,346,Jackie Brown (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286168,1998-04-22 23:02:48,19,M,student,56567
99990,354,"Wedding Singer, The (1998)",13-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Wedding+Singe...,729,5,893286637,1998-04-22 23:10:37,19,M,student,56567
99991,362,Blues Brothers 2000 (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Blues+Brother...,729,4,893286637,1998-04-22 23:10:37,19,M,student,56567
99992,683,Rocket Man (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Rocket+Man+(1...,729,2,893286511,1998-04-22 23:08:31,19,M,student,56567
99993,689,"Jackal, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Jackal%2C+The...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99994,690,Seven Years in Tibet (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Seven+Years+i...,729,2,893286149,1998-04-22 23:02:29,19,M,student,56567
99995,748,"Saint, The (1997)",14-Mar-1997,NaN,http://us.imdb.com/M/title-exact?Saint%2C%20Th...,729,4,893286638,1998-04-22 23:10:38,19,M,student,56567
99996,751,Tomorrow Never Dies (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,729,3,893286338,1998-04-22 23:05:38,19,M,student,56567
99997,879,"Peacemaker, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Peacemaker%2C...,729,3,893286299,1998-04-22 23:04:59,19,M,student,56567
99998,894,Home Alone 3 (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286511,1998-04-22 23:08:31,19,M,student,56567
99999,901,Mr. Magoo (1997),25-Dec-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286491,1998-04-22 23:08:11,19,M,student,56567

pd.merge: 두 collection을 합친다.(join과 같다)

In [26]:
lens.title.value_counts()[:10]

Star Wars (1977)                 583
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [27]:
lens.title.value_counts().nlargest(10)

Star Wars (1977)                 583
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

가장 많은 평가를 받은 10개의 영화 제목을 가져온다.

In [28]:
lens.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 13 columns):
movie_id              100000 non-null int64
title                 100000 non-null object
release date          99991 non-null object
video release date    0 non-null float64
IMDb URL              99987 non-null object
user_id               100000 non-null int64
rating                100000 non-null int64
timestamp             100000 non-null int64
date                  100000 non-null datetime64[ns]
age                   100000 non-null int64
gender                100000 non-null object
occupation            100000 non-null object
zip code              100000 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(6)
memory usage: 10.7+ MB

In [29]:
lens.groupby('title').rating.mean().nlargest(100)

title
Aiqing wansui (1994)                                          5.000000
Entertaining Angels: The Dorothy Day Story (1996)             5.000000
Great Day in Harlem, A (1994)                                 5.000000
Marlene Dietrich: Shadow and Light (1996)                     5.000000
Prefontaine (1997)                                            5.000000
Saint of Fort Washington, The (1993)                          5.000000
Santa with Muscles (1996)                                     5.000000
Someone Else's America (1995)                                 5.000000
Star Kid (1997)                                               5.000000
They Made Me a Criminal (1939)                                5.000000
Pather Panchali (1955)                                        4.625000
Anna (1996)                                                   4.500000
Everest (1998)                                                4.500000
Maya Lin: A Strong Clear Vision (1994)                        4.500000
Some Mother's Son (1996)                                      4.500000
Close Shave, A (1995)                                         4.491071
Schindler's List (1993)                                       4.466443
Wrong Trousers, The (1993)                                    4.466102
Casablanca (1942)                                             4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)        4.447761
Shawshank Redemption, The (1994)                              4.445230
Rear Window (1954)                                            4.387560
Usual Suspects, The (1995)                                    4.385768
Star Wars (1977)                                              4.358491
12 Angry Men (1957)                                           4.344000
Bitter Sugar (Azucar Amargo) (1996)                           4.333333
Letter From Death Row, A (1998)                               4.333333
Third Man, The (1949)                                         4.333333
Citizen Kane (1941)                                           4.292929
Some Folks Call It a Sling Blade (1993)                       4.292683
                                                                ...
Chinatown (1974)                                              4.136054
Killing Fields, The (1984)                                    4.132231
Waiting for Guffman (1996)                                    4.127660
A Chef in Love (1996)                                         4.125000
Mr. Smith Goes to Washington (1939)                           4.123810
It's a Wonderful Life (1946)                                  4.121212
Taxi Driver (1976)                                            4.120879
Manon of the Spring (Manon des sources) (1986)                4.120690
Raging Bull (1980)                                            4.120690
Notorious (1946)                                              4.115385
Philadelphia Story, The (1940)                                4.115385
Horseman on the Roof, The (Hussard sur le toit, Le) (1995)    4.111111
Jean de Florette (1986)                                       4.109375
Grand Day Out, A (1992)                                       4.106061
Great Escape, The (1963)                                      4.104839
Graduate, The (1967)                                          4.104603
Roman Holiday (1953)                                          4.102941
High Noon (1952)                                              4.102273
Psycho (1960)                                                 4.100418
Apt Pupil (1998)                                              4.100000
Fresh (1994)                                                  4.100000
Laura (1944)                                                  4.100000
Ran (1985)                                                    4.100000
Treasure of the Sierra Madre, The (1948)                      4.100000
Hoop Dreams (1994)                                            4.094017
Arsenic and Old Lace (1944)                                   4.078261
Wizard of Oz, The (1939)                                      4.077236
Glory (1989)                                                  4.076023
Monty Python and the Holy Grail (1974)                        4.066456
Once Were Warriors (1994)                                     4.064516
Name: rating, Length: 100, dtype: float64

평점 평균 상위 100개의 영화 제목을 가져왔다.

In [30]:
lens.get(lens['title'] == 'Pulp Fiction (1994)').rating.mean()

4.060913705583756

Pulp Fiction의 평점 평균을 가져왔다.

In [31]:
lens.groupby('title').rating.min().nlargest(100)

title
Aiqing wansui (1994)                                          5
Entertaining Angels: The Dorothy Day Story (1996)             5
Great Day in Harlem, A (1994)                                 5
Marlene Dietrich: Shadow and Light (1996)                     5
Prefontaine (1997)                                            5
Saint of Fort Washington, The (1993)                          5
Santa with Muscles (1996)                                     5
Someone Else's America (1995)                                 5
Star Kid (1997)                                               5
They Made Me a Criminal (1939)                                5
Anna (1996)                                                   4
Big Bang Theory, The (1994)                                   4
Bitter Sugar (Azucar Amargo) (1996)                           4
Brothers in Trouble (1995)                                    4
Butcher Boy, The (1998)                                       4
Celestial Clockwork (1994)                                    4
Crossfire (1947)                                              4
Cérémonie, La (1995)                                          4
Damsel in Distress, A (1937)                                  4
Death in Brunswick (1991)                                     4
Desert Winds (1995)                                           4
Everest (1998)                                                4
Farmer & Chase (1995)                                         4
Gate of Heavenly Peace, The (1995)                            4
He Walked by Night (1948)                                     4
I Don't Want to Talk About It (De eso no se habla) (1993)     4
Innocents, The (1961)                                         4
Jupiter's Wife (1994)                                         4
Killer: A Journal of Murder (1995)                            4
Lady of Burlesque (1943)                                      4
                                                             ..
His Girl Friday (1940)                                        3
Horseman on the Roof, The (Hussard sur le toit, Le) (1995)    3
Hour of the Pig, The (1993)                                   3
Inkwell, The (1994)                                           3
Intimate Relations (1996)                                     3
Johns (1996)                                                  3
Joy Luck Club, The (1993)                                     3
Kaspar Hauser (1993)                                          3
King of the Hill (1993)                                       3
Land and Freedom (Tierra y libertad) (1995)                   3
Last Time I Saw Paris, The (1954)                             3
Letter From Death Row, A (1998)                               3
Love Is All There Is (1996)                                   3
Mad Dog Time (1996)                                           3
Manon of the Spring (Manon des sources) (1986)                3
Margaret's Museum (1995)                                      3
Mark of Zorro, The (1940)                                     3
Maya Lin: A Strong Clear Vision (1994)                        3
Men With Guns (1997)                                          3
Mirage (1995)                                                 3
Mr. Wonderful (1993)                                          3
My Favorite Season (1993)                                     3
Nelly & Monsieur Arnaud (1995)                                3
Next Step, The (1995)                                         3
Nico Icon (1995)                                              3
Night Flier (1997)                                            3
Normal Life (1996)                                            3
Other Voices, Other Rooms (1997)                              3
Paris Was a Woman (1995)                                      3
Price Above Rubies, A (1998)                                  3
Name: rating, Length: 100, dtype: int64

최저 평점이 높은 순으로 100개의 영화 제목을 가져왔다.

In [32]:
lens.groupby('user_id').rating.count()

user_id
1      272
2       62
3       54
4       24
5      175
6      211
7      403
8       59
9       22
10     184
11     181
12      51
13     636
14      98
15     104
16     140
17      28
18     277
19      20
20      48
21     179
22     128
23     151
24      68
25      78
26     107
27      25
28      79
29      34
30      43
      ...
914     23
915     26
916    317
917     35
918    103
919    217
920     26
921    110
922    127
923     74
924     82
925     32
926     20
927    120
928     32
929     49
930     63
931     61
932    241
933    184
934    174
935     39
936    142
937     40
938    108
939     49
940    107
941     22
942     79
943    168
Name: rating, Length: 943, dtype: int64

각 user가 평점을 남긴 영화의 갯수를 가져왔다.

In [33]:
import numpy as np

movie_stats = lens.groupby('title').agg({'rating': [np.size, np.mean]})

atleast_100 = movie_stats['rating']['size'] >= 100
movie_stats[atleast_100].sort_values(by=[('rating', 'mean')], ascending=False)

                                                   rating
                                                     size      mean
title
Close Shave, A (1995)                                 112  4.491071
Schindler's List (1993)                               298  4.466443
Wrong Trousers, The (1993)                            118  4.466102
Casablanca (1942)                                     243  4.456790
Shawshank Redemption, The (1994)                      283  4.445230
Rear Window (1954)                                    209  4.387560
Usual Suspects, The (1995)                            267  4.385768
Star Wars (1977)                                      583  4.358491
12 Angry Men (1957)                                   125  4.344000
Citizen Kane (1941)                                   198  4.292929
To Kill a Mockingbird (1962)                          219  4.292237
One Flew Over the Cuckoo's Nest (1975)                264  4.291667
Silence of the Lambs, The (1991)                      390  4.289744
North by Northwest (1959)                             179  4.284916
Godfather, The (1972)                                 413  4.283293
Secrets & Lies (1996)                                 162  4.265432
Good Will Hunting (1997)                              198  4.262626
Manchurian Candidate, The (1962)                      131  4.259542
Dr. Strangelove or: How I Learned to Stop Worry...    194  4.252577
Raiders of the Lost Ark (1981)                        420  4.252381
Vertigo (1958)                                        179  4.251397
Titanic (1997)                                        350  4.245714
Lawrence of Arabia (1962)                             173  4.231214
Maltese Falcon, The (1941)                            138  4.210145
Empire Strikes Back, The (1980)                       367  4.204360
Boot, Das (1981)                                      201  4.203980
Sling Blade (1996)                                    136  4.198529
As Good As It Gets (1997)                             112  4.196429
Godfather: Part II, The (1974)                        209  4.186603
African Queen, The (1951)                             152  4.184211
...                                                   ...       ...
Ace Ventura: Pet Detective (1994)                     103  3.048544
Conan the Barbarian (1981)                            107  3.046729
Grumpier Old Men (1995)                               148  3.040541
Star Trek: The Motion Picture (1979)                  117  3.034188
Broken Arrow (1996)                                   254  3.031496
First Wives Club, The (1996)                          160  3.018750
Net, The (1995)                                       120  3.008333
Evita (1996)                                          259  2.980695
Natural Born Killers (1994)                           128  2.953125
Lost World: Jurassic Park, The (1997)                 158  2.943038
Dante's Peak (1997)                                   240  2.933333
Nutty Professor, The (1996)                           163  2.914110
101 Dalmatians (1996)                                 109  2.908257
Father of the Bride Part II (1995)                    128  2.898438
Mars Attacks! (1996)                                  217  2.847926
Multiplicity (1996)                                   134  2.835821
Alien 3 (1992)                                        100  2.830000
Volcano (1997)                                        219  2.808219
Waterworld (1995)                                     102  2.803922
Beavis and Butt-head Do America (1996)                156  2.788462
Mimic (1997)                                          101  2.742574
Down Periscope (1996)                                 101  2.702970
George of the Jungle (1997)                           162  2.685185
Batman Returns (1992)                                 142  2.683099
Batman Forever (1995)                                 114  2.666667
Spawn (1997)                                          143  2.615385
Event Horizon (1997)                                  127  2.574803
Crash (1996)                                          128  2.546875
Jungle2Jungle (1997)                                  132  2.439394
Cable Guy, The (1996)                                 106  2.339623

[338 rows x 2 columns]

agg: 한 column 내에 여러개의 함수를 적용하고자 할때 사용.

100개 이상의 평점을 받은 영화에 대해 평점 평균이 높은 순으로 정렬하였다.

___

## 평점 순으로 추천

In [34]:
frame = pd.read_csv('~/Desktop/RS/01/rating_final.csv')
cuisine = pd.read_csv('~/Desktop/RS/01/chefmozcuisine.csv')

In [35]:
frame

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
5     U1068   132740       0            0               0
6     U1068   132663       1            1               1
7     U1068   132732       0            0               0
8     U1068   132630       1            1               1
9     U1067   132584       2            2               2
10    U1067   132733       1            1               1
11    U1067   132732       1            2               2
12    U1067   132630       1            0               1
13    U1067   135104       0            0               0
14    U1067   132560       1            0               0
15    U1103   132584       1            2               1
16    U1103   132732       0            0               2
17    U1103   132630       1            2               0
18    U1103   132613       2            2               2
19    U1103   132667       1            2               2
20    U1103   135104       1            2               0
21    U1103   132663       1            0               2
22    U1103   132733       2            2               2
23    U1107   132660       2            2               1
24    U1107   132584       2            2               2
25    U1107   132733       2            2               2
26    U1044   135088       2            2               2
27    U1044   132583       1            2               1
28    U1070   132608       2            2               1
29    U1070   132609       1            1               1
...     ...      ...     ...          ...             ...
1131  U1087   132732       2            2               1
1132  U1087   132740       1            2               1
1133  U1087   132560       1            2               1
1134  U1087   132594       1            2               1
1135  U1087   132663       1            2               1
1136  U1065   132626       1            0               1
1137  U1065   132706       2            1               2
1138  U1129   132561       1            2               2
1139  U1065   132665       1            1               1
1140  U1129   132665       0            0               0
1141  U1065   132561       1            1               1
1142  U1039   132626       2            2               1
1143  U1039   132564       1            1               2
1144  U1065   132654       1            1               1
1145  U1039   132665       1            1               2
1146  U1130   132654       0            0               0
1147  U1130   132561       0            0               0
1148  U1130   132626       0            0               0
1149  U1130   132706       1            2               1
1150  U1043   132608       1            1               1
1151  U1043   132609       1            2               1
1152  U1011   132717       2            2               1
1153  U1043   132613       1            1               1
1154  U1011   132564       1            1               1
1155  U1043   132732       1            1               1
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

In [36]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
userID            1161 non-null object
placeID           1161 non-null int64
rating            1161 non-null int64
food_rating       1161 non-null int64
service_rating    1161 non-null int64
dtypes: int64(4), object(1)
memory usage: 45.4+ KB

In [37]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [38]:
frame.tail()

     userID  placeID  rating  food_rating  service_rating
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

In [39]:
frame.sample(10)

    userID  placeID  rating  food_rating  service_rating
440  U1037   132847       1            1               1
682  U1101   132856       1            0               1
92   U1030   135019       0            0               0
316  U1018   135108       1            0               1
113  U1133   134983       1            1               1
223  U1014   135081       2            1               1
7    U1068   132732       0            0               0
490  U1019   135076       0            0               0
103  U1017   134975       2            1               1
561  U1009   132825       1            1               0

In [40]:
frame.describe(include='all')

       userID        placeID       rating  food_rating  service_rating
count    1161    1161.000000  1161.000000  1161.000000     1161.000000
unique    138            NaN          NaN          NaN             NaN
top     U1106            NaN          NaN          NaN             NaN
freq       18            NaN          NaN          NaN             NaN
mean      NaN  134192.041344     1.199828     1.215332        1.090439
std       NaN    1100.916275     0.773282     0.792294        0.790844
min       NaN  132560.000000     0.000000     0.000000        0.000000
25%       NaN  132856.000000     1.000000     1.000000        0.000000
50%       NaN  135030.000000     1.000000     1.000000        1.000000
75%       NaN  135059.000000     2.000000     2.000000        2.000000
max       NaN  135109.000000     2.000000     2.000000        2.000000

In [41]:
frame.describe()

             placeID       rating  food_rating  service_rating
count    1161.000000  1161.000000  1161.000000     1161.000000
mean   134192.041344     1.199828     1.215332        1.090439
std      1100.916275     0.773282     0.792294        0.790844
min    132560.000000     0.000000     0.000000        0.000000
25%    132856.000000     1.000000     1.000000        0.000000
50%    135030.000000     1.000000     1.000000        1.000000
75%    135059.000000     2.000000     2.000000        2.000000
max    135109.000000     2.000000     2.000000        2.000000

In [42]:
cuisine

     placeID              Rcuisine
0     135110               Spanish
1     135109               Italian
2     135107        Latin_American
3     135106               Mexican
4     135105             Fast_Food
5     135104               Mexican
6     135103               Burgers
7     135103     Dessert-Ice_Cream
8     135103             Fast_Food
9     135103              Hot_Dogs
10    135102        Latin_American
11    135102               Mexican
12    135102                Steaks
13    135101               Mexican
14    135101                Steaks
15    135100               Mexican
16    135100                Steaks
17    135099                 Asian
18    135099     Dessert-Ice_Cream
19    135099         International
20    135099             Mongolian
21    135099                Steaks
22    135099            Vegetarian
23    135098             Brazilian
24    135098         International
25    135098        Latin_American
26    135098                Steaks
27    135097      Cafe-Coffee_Shop
28    135097             Cafeteria
29    135097          Contemporary
..       ...                   ...
886   132026         Dutch-Belgian
887   132025         Dutch-Belgian
888   132024               Seafood
889   132024  Continental-European
890   132023                French
891   132023         Dutch-Belgian
892   132022         Dutch-Belgian
893   132021         Dutch-Belgian
894   132020         International
895   132019         Dutch-Belgian
896   132018         Dutch-Belgian
897   132017         Dutch-Belgian
898   132016         International
899   132015         Dutch-Belgian
900   132014         Dutch-Belgian
901   132013         International
902   132012                French
903   132012         Dutch-Belgian
904   132010         Mediterranean
905   132010         Dutch-Belgian
906   132009         International
907   132008         International
908   132007         Mediterranean
909   132006         Dutch-Belgian
910   132005                French
911   132005               Seafood
912   132004               Seafood
913   132003         International
914   132002               Seafood
915   132001         Dutch-Belgian

[916 rows x 2 columns]

In [43]:
cuisine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 2 columns):
placeID     916 non-null int64
Rcuisine    916 non-null object
dtypes: int64(1), object(1)
memory usage: 14.4+ KB

In [44]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [45]:
cuisine.tail()

     placeID       Rcuisine
911   132005        Seafood
912   132004        Seafood
913   132003  International
914   132002        Seafood
915   132001  Dutch-Belgian

In [46]:
cuisine.sample(10)

     placeID          Rcuisine
629   132402            French
90    135026               Bar
434   132665           Mexican
776   132221          American
84    135030  Cafe-Coffee_Shop
395   132704           Mexican
479   132607           Mexican
855   132116             Asian
561   132491            Bakery
898   132016     International

In [47]:
cuisine.describe(include='all')

              placeID Rcuisine
count      916.000000      916
unique            NaN       59
top               NaN  Mexican
freq              NaN      239
mean    132897.174672      NaN
std        923.601711      NaN
min     132001.000000      NaN
25%     132323.250000      NaN
50%     132630.500000      NaN
75%     132907.250000      NaN
max     135110.000000      NaN

In [48]:
cuisine.describe()

             placeID
count     916.000000
mean   132897.174672
std       923.601711
min    132001.000000
25%    132323.250000
50%    132630.500000
75%    132907.250000
max    135110.000000

In [49]:
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())
rating_count.sort_values('rating', ascending=False)

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25
135038       24
135060       22
135062       21
135042       20
132862       18
135058       18
132921       17
135041       17
135064       17
135079       17
135057       15
132572       15
135025       15
135028       15
135051       14
132856       14
135076       13
132754       13
135075       13
135045       13
135030       12
132872       12
135069       12
135039       12
132830       12
...         ...
135074        4
132560        4
135044        4
134976        4
132564        4
132583        4
132626        4
132654        4
132667        4
132706        4
132715        4
132773        4
132877        4
135040        4
132937        4
134987        4
134992        4
132561        4
135000        4
135013        4
135018        4
135033        4
135035        4
135109        4
134975        3
132766        3
132717        3
135011        3
132668        3
135016        3

[130 rows x 1 columns]

placeID별로 rating을 많이 받은 순으로 정렬.

In [50]:
merged = pd.merge(frame, cuisine)
merged

     userID  placeID  rating  food_rating  service_rating          Rcuisine
0     U1077   135085       2            2               2         Fast_Food
1     U1108   135085       1            2               1         Fast_Food
2     U1081   135085       1            2               1         Fast_Food
3     U1056   135085       2            2               2         Fast_Food
4     U1134   135085       2            1               2         Fast_Food
5     U1116   135085       2            2               2         Fast_Food
6     U1132   135085       2            2               2         Fast_Food
7     U1120   135085       0            0               0         Fast_Food
8     U1036   135085       2            2               2         Fast_Food
9     U1084   135085       2            2               2         Fast_Food
10    U1113   135085       1            2               1         Fast_Food
11    U1104   135085       2            2               1         Fast_Food
12    U1106   135085       2            2               2         Fast_Food
13    U1045   135085       2            2               2         Fast_Food
14    U1016   135085       2            2               0         Fast_Food
15    U1007   135085       1            2               0         Fast_Food
16    U1013   135085       1            2               0         Fast_Food
17    U1001   135085       0            1               1         Fast_Food
18    U1135   135085       0            0               0         Fast_Food
19    U1032   135085       1            1               1         Fast_Food
20    U1062   135085       0            0               0         Fast_Food
21    U1092   135085       0            0               0         Fast_Food
22    U1109   135085       2            2               2         Fast_Food
23    U1122   135085       2            2               1         Fast_Food
24    U1098   135085       1            2               1         Fast_Food
25    U1033   135085       2            2               2         Fast_Food
26    U1089   135085       1            1               1         Fast_Food
27    U1027   135085       1            1               1         Fast_Food
28    U1029   135085       1            1               1         Fast_Food
29    U1086   135085       2            1               1         Fast_Food
...     ...      ...     ...          ...             ...               ...
1013  U1137   132951       2            2               2          American
1014  U1114   132951       0            0               0          American
1015  U1046   132951       1            1               2          American
1016  U1128   132951       0            0               0          American
1017  U1073   132951       0            0               0          American
1018  U1013   132951       2            2               2          American
1019  U1003   132937       2            2               1               Bar
1020  U1027   132937       1            1               1               Bar
1021  U1029   132937       1            1               1               Bar
1022  U1086   132937       2            0               1               Bar
1023  U1004   132954       2            2               2  Breakfast-Brunch
1024  U1112   132954       0            0               1  Breakfast-Brunch
1025  U1090   132954       2            2               2  Breakfast-Brunch
1026  U1057   132954       1            0               0  Breakfast-Brunch
1027  U1061   132954       2            1               2  Breakfast-Brunch
1028  U1097   132954       1            1               0  Breakfast-Brunch
1029  U1128   132954       0            0               0  Breakfast-Brunch
1030  U1006   132954       1            1               1  Breakfast-Brunch
1031  U1073   132954       0            0               0  Breakfast-Brunch
1032  U1004   132955       2            2               2   Bar_Pub_Brewery
1033  U1061   132955       2            2               2   Bar_Pub_Brewery
1034  U1059   132955       2            1               2   Bar_Pub_Brewery
1035  U1097   132955       2            2               1   Bar_Pub_Brewery
1036  U1096   132955       2            2               2   Bar_Pub_Brewery
1037  U1004   132958       2            2               2          American
1038  U1061   132958       2            2               2          American
1039  U1025   132958       1            0               0          American
1040  U1097   132958       2            1               1          American
1041  U1096   132958       1            2               2          American
1042  U1136   132958       2            2               2          American

[1043 rows x 6 columns]

In [51]:
cuisine_stats = pd.DataFrame(merged.groupby('placeID')['rating'].mean())
cuisine_stats.sort_values('rating', ascending=False)

           rating
placeID
135034   2.000000
132955   2.000000
134986   2.000000
132922   1.833333
132755   1.800000
134976   1.750000
135074   1.750000
135055   1.714286
135075   1.692308
135059   1.666667
132958   1.666667
135025   1.666667
134999   1.600000
132768   1.600000
135030   1.583333
135028   1.533333
135018   1.500000
135073   1.500000
135035   1.500000
132773   1.500000
132937   1.500000
132754   1.461538
132861   1.428571
132851   1.428571
132723   1.416667
132866   1.400000
132846   1.400000
132862   1.388889
135026   1.363636
135021   1.333333
...           ...
135109   1.000000
132715   1.000000
132834   1.000000
132954   1.000000
132572   1.000000
132925   1.000000
132583   1.000000
132608   1.000000
132668   1.000000
134983   1.000000
132872   0.916667
135043   0.888889
135027   0.875000
132856   0.857143
135104   0.857143
132845   0.800000
135086   0.800000
132665   0.800000
132858   0.800000
132740   0.750000
132706   0.750000
132766   0.666667
132732   0.625000
132609   0.600000
132594   0.600000
132870   0.600000
132885   0.600000
135069   0.500000
132663   0.500000
132560   0.500000

[95 rows x 1 columns]

모든 식당에 대해 평점 평균이 높은 순으로 정렬.

___

## 상관관계 순으로 추천

In [52]:
import numpy as np
import pandas as pd

In [53]:
frame =  pd.read_csv('~/Desktop/RS/01/rating_final.csv')
cuisine = pd.read_csv('~/Desktop/RS/01/chefmozcuisine.csv')
geodata = pd.read_csv('~/Desktop/RS/01/geoplaces2.csv', encoding='latin1')

In [55]:
frame

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
5     U1068   132740       0            0               0
6     U1068   132663       1            1               1
7     U1068   132732       0            0               0
8     U1068   132630       1            1               1
9     U1067   132584       2            2               2
10    U1067   132733       1            1               1
11    U1067   132732       1            2               2
12    U1067   132630       1            0               1
13    U1067   135104       0            0               0
14    U1067   132560       1            0               0
15    U1103   132584       1            2               1
16    U1103   132732       0            0               2
17    U1103   132630       1            2               0
18    U1103   132613       2            2               2
19    U1103   132667       1            2               2
20    U1103   135104       1            2               0
21    U1103   132663       1            0               2
22    U1103   132733       2            2               2
23    U1107   132660       2            2               1
24    U1107   132584       2            2               2
25    U1107   132733       2            2               2
26    U1044   135088       2            2               2
27    U1044   132583       1            2               1
28    U1070   132608       2            2               1
29    U1070   132609       1            1               1
...     ...      ...     ...          ...             ...
1131  U1087   132732       2            2               1
1132  U1087   132740       1            2               1
1133  U1087   132560       1            2               1
1134  U1087   132594       1            2               1
1135  U1087   132663       1            2               1
1136  U1065   132626       1            0               1
1137  U1065   132706       2            1               2
1138  U1129   132561       1            2               2
1139  U1065   132665       1            1               1
1140  U1129   132665       0            0               0
1141  U1065   132561       1            1               1
1142  U1039   132626       2            2               1
1143  U1039   132564       1            1               2
1144  U1065   132654       1            1               1
1145  U1039   132665       1            1               2
1146  U1130   132654       0            0               0
1147  U1130   132561       0            0               0
1148  U1130   132626       0            0               0
1149  U1130   132706       1            2               1
1150  U1043   132608       1            1               1
1151  U1043   132609       1            2               1
1152  U1011   132717       2            2               1
1153  U1043   132613       1            1               1
1154  U1011   132564       1            1               1
1155  U1043   132732       1            1               1
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

In [56]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
userID            1161 non-null object
placeID           1161 non-null int64
rating            1161 non-null int64
food_rating       1161 non-null int64
service_rating    1161 non-null int64
dtypes: int64(4), object(1)
memory usage: 45.4+ KB

In [57]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [58]:
frame.tail()

     userID  placeID  rating  food_rating  service_rating
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

In [59]:
frame.sample(10)

     userID  placeID  rating  food_rating  service_rating
469   U1071   132856       2            2               2
1091  U1136   135028       2            2               2
1090  U1136   135046       2            2               2
914   U1013   132572       1            1               0
1014  U1097   132955       2            2               1
951   U1112   132954       0            0               1
299   U1119   134986       2            2               2
435   U1037   135054       2            1               1
150   U1117   135088       1            1               2
571   U1016   135060       2            2               2

In [60]:
frame.describe(include='all')

       userID        placeID       rating  food_rating  service_rating
count    1161    1161.000000  1161.000000  1161.000000     1161.000000
unique    138            NaN          NaN          NaN             NaN
top     U1106            NaN          NaN          NaN             NaN
freq       18            NaN          NaN          NaN             NaN
mean      NaN  134192.041344     1.199828     1.215332        1.090439
std       NaN    1100.916275     0.773282     0.792294        0.790844
min       NaN  132560.000000     0.000000     0.000000        0.000000
25%       NaN  132856.000000     1.000000     1.000000        0.000000
50%       NaN  135030.000000     1.000000     1.000000        1.000000
75%       NaN  135059.000000     2.000000     2.000000        2.000000
max       NaN  135109.000000     2.000000     2.000000        2.000000

In [61]:
frame.describe()

             placeID       rating  food_rating  service_rating
count    1161.000000  1161.000000  1161.000000     1161.000000
mean   134192.041344     1.199828     1.215332        1.090439
std      1100.916275     0.773282     0.792294        0.790844
min    132560.000000     0.000000     0.000000        0.000000
25%    132856.000000     1.000000     1.000000        0.000000
50%    135030.000000     1.000000     1.000000        1.000000
75%    135059.000000     2.000000     2.000000        2.000000
max    135109.000000     2.000000     2.000000        2.000000

In [62]:
cuisine

     placeID              Rcuisine
0     135110               Spanish
1     135109               Italian
2     135107        Latin_American
3     135106               Mexican
4     135105             Fast_Food
5     135104               Mexican
6     135103               Burgers
7     135103     Dessert-Ice_Cream
8     135103             Fast_Food
9     135103              Hot_Dogs
10    135102        Latin_American
11    135102               Mexican
12    135102                Steaks
13    135101               Mexican
14    135101                Steaks
15    135100               Mexican
16    135100                Steaks
17    135099                 Asian
18    135099     Dessert-Ice_Cream
19    135099         International
20    135099             Mongolian
21    135099                Steaks
22    135099            Vegetarian
23    135098             Brazilian
24    135098         International
25    135098        Latin_American
26    135098                Steaks
27    135097      Cafe-Coffee_Shop
28    135097             Cafeteria
29    135097          Contemporary
..       ...                   ...
886   132026         Dutch-Belgian
887   132025         Dutch-Belgian
888   132024               Seafood
889   132024  Continental-European
890   132023                French
891   132023         Dutch-Belgian
892   132022         Dutch-Belgian
893   132021         Dutch-Belgian
894   132020         International
895   132019         Dutch-Belgian
896   132018         Dutch-Belgian
897   132017         Dutch-Belgian
898   132016         International
899   132015         Dutch-Belgian
900   132014         Dutch-Belgian
901   132013         International
902   132012                French
903   132012         Dutch-Belgian
904   132010         Mediterranean
905   132010         Dutch-Belgian
906   132009         International
907   132008         International
908   132007         Mediterranean
909   132006         Dutch-Belgian
910   132005                French
911   132005               Seafood
912   132004               Seafood
913   132003         International
914   132002               Seafood
915   132001         Dutch-Belgian

[916 rows x 2 columns]

In [63]:
cuisine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 2 columns):
placeID     916 non-null int64
Rcuisine    916 non-null object
dtypes: int64(1), object(1)
memory usage: 14.4+ KB

In [64]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [65]:
cuisine.tail()

     placeID       Rcuisine
911   132005        Seafood
912   132004        Seafood
913   132003  International
914   132002        Seafood
915   132001  Dutch-Belgian

In [66]:
cuisine.sample(10)

     placeID          Rcuisine
334   132774             Diner
786   132213  Cafe-Coffee_Shop
503   132580           Mexican
98    135018           Mexican
424   132675           Mexican
706   132296          Barbecue
696   132312           Chinese
281   132842           Mexican
676   132333          Japanese
794   132206     International

In [67]:
cuisine.describe(include='all')

              placeID Rcuisine
count      916.000000      916
unique            NaN       59
top               NaN  Mexican
freq              NaN      239
mean    132897.174672      NaN
std        923.601711      NaN
min     132001.000000      NaN
25%     132323.250000      NaN
50%     132630.500000      NaN
75%     132907.250000      NaN
max     135110.000000      NaN

In [68]:
cuisine.describe()

             placeID
count     916.000000
mean   132897.174672
std       923.601711
min    132001.000000
25%    132323.250000
50%    132630.500000
75%    132907.250000
max    135110.000000

In [69]:
geodata

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
5,135040,22.135617,-100.969709,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,Restaurant los Compadres,Camino a Simon Diaz 155 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
6,132732,23.754357,-99.171288,0101000020957F00008A20E615808157C16272FECBF84F...,Taqueria EL amigo,Calle Mezquite Fracc Framboyanes,Cd Victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,none,casual,completely,low,?,familiar,f,open,none
7,132875,22.149901,-100.993779,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,shi ro ie,?,?,?,?,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,t,open,Internet
8,132609,23.760268,-99.165865,0101000020957F0000A478418BBA8057C133851EB22C4E...,Pollo_Frito_Buenos_Aires,tampico,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,quiet,t,closed,none
9,135082,22.151448,-100.915099,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...,la Estrella de Dimas,Villa de Pozos 192 Villa de Pozos,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
10,135070,22.152918,-100.915164,0101000020957F0000ED435B84934958C1B3CF85FA9791...,Restaurante 75,Villa de Pozos 4497 Villa de Pozos,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
11,135069,22.140129,-100.944872,0101000020957F000038E5D546B74A58C18FD29AD0D29A...,Abondance Restaurante Bar,Industrias 908 Valle Dorado,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,low,?,familiar,f,closed,none
12,135065,22.149580,-100.999557,0101000020957F000094A6A8E3C14758C17435E6D1DBA9...,El angel Restaurante,Venustiano Carranza 1625 Jardin,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,f,closed,none
13,135076,22.181017,-100.973614,0101000020957F00005657121FAA4358C1A8030D5598A0...,Restaurante Pueblo Bonito,Mexico 2015 Providencia,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
14,135086,22.141421,-101.013955,0101000020957F0000FA1A0E5A9B4858C17C884C4173AE...,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,t,closed,none
15,132870,22.143078,-100.935479,0101000020957F0000550FC1FC854A58C16D7D4E35F897...,Tortas y hamburguesas el gordo,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,low,?,familiar,f,closed,none
16,132854,22.137863,-100.938327,0101000020957F0000FEC3FB453E4B58C19B4A46361799...,Sirlone,carr. mexico,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,none,informal,completely,medium,?,familiar,f,closed,none
17,132937,22.150019,-100.979920,0101000020957F0000F9F19DDC3B4858C191B265A83BA4...,rockabilly,agustin de iturbide,san luis potosi,san luis potosi,mexico,?,...,Full_Bar,section,informal,completely,low,?,quiet,f,closed,variety
18,132856,22.151378,-100.974634,0101000020957F0000C1B7D30B2C4858C1CE557111A5A2...,Unicols Pizza,Plaza del Carmen,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,none,informal,completely,low,?,familiar,f,closed,none
19,132668,23.738212,-99.151955,0101000020957F000003B195E25F8457C1C535BD04614B...,TACOS EL GUERO,?,victoria,tamaulipas,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
20,135033,22.141610,-100.973142,0101000020957F00000F624C60B54958C11757339BCCA2...,Restaurant El Muladar de Calzada,De Guadalupe 460 San Miguelito,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,section,informal,no_accessibility,medium,?,familiar,f,closed,none
21,132862,22.150643,-100.987015,0101000020957F0000AF95272CF14758C165B2F91238A6...,La Posada del Virrey,Av. V. Carranza,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,none,casual,completely,high,?,familiar,f,closed,none
22,134983,18.948657,-99.235361,0101000020957F0000DEF36F4FC76A5AC162B083D9A054...,Restaurant and Bar and Clothesline Carlos N Ch...,Domingo 10 711 El Empleado,Cuernavaca,Morelos,Mexico,?,...,Full_Bar,section,informal,no_accessibility,high,carlosandcharlies.com,familiar,f,closed,none
23,132851,22.136872,-100.934574,0101000020957F0000C74DE39C7F4B58C1061F29171498...,KFC,?,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,familiar,f,closed,none
24,135013,18.917441,-99.165945,0101000020957F0000D241E94E7B715AC119862B3B1E41...,Giovannis,40 Norte Civac 1RA. Seccion,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,low,?,familiar,f,closed,none
25,135042,22.159357,-100.973411,0101000020957F0000C66BB014FC4658C17CFE8D93D2A1...,Restaurant Oriental Express,Tangamanga 7 Tangamanga,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
26,132768,18.925773,-99.232636,0101000020957F000000DD3546816E5AC119D4BD17FD54...,Mariscos Tia Licha,avenida salvador montiel,cuernavaca,morelos,mexico,?,...,No_Alcohol_Served,not permitted,casual,partially,medium,?,familiar,t,closed,none
27,132561,23.726819,-99.126506,0101000020957F000004457BB7AA8657C15F10835CD944...,cafe ambar,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
28,135045,22.151189,-100.981790,0101000020957F00000B6735CA004858C108FD525CB2A4...,Restaurante la Gran Via,Venustiano Carranza 560 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,casual,no_accessibility,high,lagranvia.com.mx,familiar,f,closed,none
29,132847,22.144336,-100.937382,0101000020957F00004717A23D474A58C17D1F10297098...,don burguers,r.b. anaya esq. florencia,slp,slp,mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,low,?,familiar,f,open,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,134996,18.923429,-99.216413,0101000020957F0000340233E7476F5AC132844E2A2C50...,Sanborns Casa Piedra,Lomas del Mirador,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,only at bar,informal,no_accessibility,medium,?,familiar,t,closed,Internet
101,132755,22.153324,-101.019546,0101000020957F000026CADE45A14658C1F011EBCA55AF...,La Estrella de Dimas,Av. de los Pintores,San Luis Potosi,S.L.P.,Mexico,?,...,No_Alcohol_Served,none,informal,partially,medium,?,familiar,f,closed,variety
102,135043,22.185756,-100.944518,0101000020957F00006B9D7207BE4358C12419118D0598...,pizza clasica,524 Soledad de Graciano Sanchez,Soledad,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
103,132654,23.735523,-99.129588,0101000020957F000040E8F628488557C18224E8B94845...,Carnitas Mata Calle 16 de Septiembre,16 de Septiembre,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
104,135049,22.135011,-101.028600,0101000020957F00005DAD35642E4958C11BBCDE4A02B3...,Restaurante de Mariscos la Langosta,Cordillera de Los Alpes 675 Loma Verde,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
105,135073,22.147175,-100.974269,0101000020957F0000D010A853D34858C116A1EA51CAA2...,Restaurante Bar El Gallinero,Pascual M. Hernandez 210 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,f,closed,none
106,132560,23.752304,-99.166913,0101000020957F0000FC60BDA8E88157C1B2C357D6DA4E...,puesto de gorditas,frente al tecnologico,victoria,tamaulipas,mexico,?,...,No_Alcohol_Served,permitted,informal,no_accessibility,low,?,familiar,f,open,none
107,134976,18.916654,-99.227110,0101000020957F00002838E29F19705AC1BC368BDAC753...,Log Yin,?,?,?,?,?,...,No_Alcohol_Served,none,informal,no_accessibility,low,?,familiar,f,closed,none
108,135075,22.139573,-100.991564,0101000020957F0000332AE8AF824958C15A4195A82CA8...,Mariscos El Pescador,Himno Nacional 2104 Tangamanga,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
109,132660,23.752943,-99.164679,0101000020957F00003D7905C9DC8157C13FCD1AB7334E...,carnitas mata calle Emilio Portes Gil,Emilio Portes Gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
110,132921,22.150305,-100.989134,0101000020957F00006376BB64EF4758C1013687E5D7A6...,crudalia,?,?,?,?,?,...,Wine-Beer,section,casual,completely,low,?,quiet,f,open,none
111,132594,23.752168,-99.165709,0101000020957F00003AE4C6DBF48157C1CE38ECC1864E...,tacos de barbacoa enfrente del Tec,?,?,?,?,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,familiar,f,open,none
112,134986,18.928798,-99.239513,0101000020957F00002A0D05E2D96D5AC1AB058CB1EC56...,Restaurant Las Mananitas,Ricardo Linares 107,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,none,formal,no_accessibility,high,lasmananitas.com.mx,familiar,f,closed,none
113,135062,22.153703,-100.979033,0101000020957F0000D177B9CFB14758C162A211E1C2A3...,Restaurante El Cielo Potosino,Julian de Los Reyes 400 Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
114,132766,18.910178,-99.231544,0101000020957F000043A319BA06715AC1944336987755...,Mikasa,Himno nacional esq. Blvd. Juarez,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,medium,?,familiar,f,closed,none
115,135088,18.876011,-99.219890,0101000020957F0000E14AD4DBC7765AC1F7B33C85B153...,Cafeteria cenidet,Interior Internado Palmira SN,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,low,www.cenidet.edu.mx,quiet,f,closed,none
116,135058,22.165587,-101.001273,0101000020957F0000EB71019D424558C15CC5404365A9...,Restaurante Tiberius,Munoz Sn Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,t,closed,none
117,132754,22.147738,-100.990616,0101000020957F00002493B678494858C1AD55D2316BA7...,Cabana Huasteca,Cuauhtemoc 455,San Luis Potosi,S.L.P.,Mexico,?,...,No_Alcohol_Served,none,informal,partially,medium,?,familiar,f,closed,none
118,132584,23.752365,-99.165288,0101000020957F000048C65BA7EF8157C177F2344D664E...,Gorditas Dona Tota,?,?,?,?,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,t,closed,none
119,135032,22.152481,-100.973486,0101000020957F000017D69FF5084858C1A8F2188740A2...,Cafeteria y Restaurant El Pacifico,Constitucion 200 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,medium,?,familiar,f,closed,none
120,135028,22.146658,-100.987219,0101000020957F0000B4F00BDD8B4858C10AC3619C83A6...,La Virreina,Av. Carranza 830,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,medium,?,familiar,f,closed,none
121,135085,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
122,132663,23.752511,-99.166954,0101000020957F0000FDF8D26EE08157C1FEDB6A1FDB4E...,tacos abi,?,victoria,tamaulipas,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
123,132626,23.737583,-99.135132,0101000020957F0000AA7883ADD88457C1FA651328BA46...,la perica hamburguesa,?,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,medium,?,familiar,t,closed,none
124,132583,18.922290,-99.234332,0101000020957F0000FBE7171F056F5AC1E8A6C0A5AF55...,McDonalds Centro,Rayon sn col. Centro,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,not permitted,informal,partially,low,no,familiar,t,closed,none
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,f,closed,none
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,?,...,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [70]:
geodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 21 columns):
placeID           130 non-null int64
latitude          130 non-null float64
longitude         130 non-null float64
the_geom_meter    130 non-null object
name              130 non-null object
address           130 non-null object
city              130 non-null object
state             130 non-null object
country           130 non-null object
fax               130 non-null object
zip               130 non-null object
alcohol           130 non-null object
smoking_area      130 non-null object
dress_code        130 non-null object
accessibility     130 non-null object
price             130 non-null object
url               130 non-null object
Rambience         130 non-null object
franchise         130 non-null object
area              130 non-null object
other_services    130 non-null object
dtypes: float64(2), int64(1), object(18)
memory usage: 21.4+ KB

In [71]:
geodata.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [72]:
geodata.tail()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,f,closed,none
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,?,...,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [73]:
geodata.sample(10)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
66,132845,22.126293,-100.900776,0101000020957F0000B230F8670C4E58C1D590A2700F8F...,Cenaduria El RincÃ³n de Tlaquepaque,av. seminario,san luis potosi,san luis potosi,mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
40,135041,22.151060,-100.977659,0101000020957F0000D2002719234858C1CC7A9FC186A3...,Luna Cafe,Francisco I. Madero 215,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,medium,lunacafe.com.mx,familiar,f,closed,none
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
18,132856,22.151378,-100.974634,0101000020957F0000C1B7D30B2C4858C1CE557111A5A2...,Unicols Pizza,Plaza del Carmen,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,none,informal,completely,low,?,familiar,f,closed,none
79,135071,22.126375,-100.910926,0101000020957F0000E3A742BFC14D58C1F4E529A7F391...,Restaurante la Cantina,De La Estrella 2005 Estrella de Oriente,San Luis Potosi,SLP,Mexico,?,...,Full_Bar,section,informal,no_accessibility,medium,?,familiar,f,closed,none
119,135032,22.152481,-100.973486,0101000020957F000017D69FF5084858C1A8F2188740A2...,Cafeteria y Restaurant El Pacifico,Constitucion 200 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,medium,?,familiar,f,closed,none
84,132861,22.148097,-101.017302,0101000020957F000074BBAF047E4758C1424B73C701AF...,Carls Jr,Av. V. Carranza,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,t,closed,none
112,134986,18.928798,-99.239513,0101000020957F00002A0D05E2D96D5AC1AB058CB1EC56...,Restaurant Las Mananitas,Ricardo Linares 107,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,none,formal,no_accessibility,high,lasmananitas.com.mx,familiar,f,closed,none
30,135054,22.140626,-100.915657,0101000020957F000011E92CCE714B58C19BF8C0CA7592...,Restaurante y Pescaderia Tampico,Ricardo B. Anaya 2700 Estrella de Oriente,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,high,?,familiar,f,closed,none
38,134992,18.936683,-99.247366,0101000020957F0000FC799354656C5AC1233FCC70E758...,Restaurant Teely,La Pradera,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,section,casual,no_accessibility,high,?,familiar,f,closed,none

In [74]:
geodata.describe(include='all')

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
count,130.000000,130.000000,130.000000,130,130,130,130,130,130,130,...,130,130,130,130,130,130,130,130,130,130
unique,NaN,NaN,NaN,130,129,100,17,13,3,1,...,3,5,3,3,3,14,2,2,2,3
top,NaN,NaN,NaN,0101000020957F000047206572DE8157C1D3315028254E...,Gorditas Dona Tota,?,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
freq,NaN,NaN,NaN,1,2,27,64,50,89,130,...,87,70,118,76,60,116,121,108,115,119
mean,134012.784615,21.858863,-100.342933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1140.644582,1.496830,0.860585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,132560.000000,18.859803,-101.028600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,132831.000000,22.139574,-100.987838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,134994.000000,22.149063,-100.956777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,135050.750000,22.160125,-99.220458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,135109.000000,23.760268,-99.126506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
geodata.describe()

             placeID    latitude   longitude
count     130.000000  130.000000  130.000000
mean   134012.784615   21.858863 -100.342933
std      1140.644582    1.496830    0.860585
min    132560.000000   18.859803 -101.028600
25%    132831.000000   22.139574 -100.987838
50%    134994.000000   22.149063 -100.956777
75%    135050.750000   22.160125  -99.220458
max    135109.000000   23.760268  -99.126506

In [76]:
places = geodata[['placeID', 'name']]
places.head()

   placeID                            name
0   134999                 Kiku Cuernavaca
1   132825                 puesto de tacos
2   135106      El Rincón de San Francisco
3   132667  little pizza Emilio Portes Gil
4   132613                   carnitas_mata

geodata의 column이 과도하게 많아 필요한것만 저장했다.

In [77]:
rating = pd.DataFrame(frame.groupby('placeID')['rating'].mean())
rating

           rating
placeID
132560   0.500000
132561   0.750000
132564   1.250000
132572   1.000000
132583   1.000000
132584   1.333333
132594   0.600000
132608   1.000000
132609   0.600000
132613   1.166667
132626   1.250000
132630   1.166667
132654   0.250000
132660   1.400000
132663   0.500000
132665   0.800000
132667   1.250000
132668   1.000000
132706   0.750000
132715   1.000000
132717   1.333333
132723   1.416667
132732   0.625000
132733   1.300000
132740   0.750000
132754   1.461538
132755   1.800000
132766   0.666667
132767   1.166667
132768   1.600000
...           ...
135054   1.000000
135055   1.714286
135057   1.266667
135058   1.111111
135059   1.666667
135060   1.136364
135062   1.238095
135063   1.250000
135064   0.882353
135065   1.111111
135066   1.500000
135069   0.500000
135070   0.875000
135071   1.000000
135072   1.250000
135073   1.500000
135074   1.750000
135075   1.692308
135076   1.307692
135079   1.176471
135080   1.000000
135081   1.181818
135082   0.777778
135085   1.333333
135086   0.800000
135088   1.000000
135104   0.857143
135106   1.200000
135108   1.181818
135109   1.000000

[130 rows x 1 columns]

In [79]:
rating['rating_count'] = pd.DataFrame(frame.groupby('placeID')['rating'].count())
rating

           rating  rating_count
placeID
132560   0.500000             4
132561   0.750000             4
132564   1.250000             4
132572   1.000000            15
132583   1.000000             4
132584   1.333333             6
132594   0.600000             5
132608   1.000000             6
132609   0.600000             5
132613   1.166667             6
132626   1.250000             4
132630   1.166667             6
132654   0.250000             4
132660   1.400000             5
132663   0.500000             6
132665   0.800000             5
132667   1.250000             4
132668   1.000000             3
132706   0.750000             4
132715   1.000000             4
132717   1.333333             3
132723   1.416667            12
132732   0.625000             8
132733   1.300000            10
132740   0.750000             8
132754   1.461538            13
132755   1.800000             5
132766   0.666667             3
132767   1.166667             6
132768   1.600000            10
...           ...           ...
135054   1.000000            10
135055   1.714286             7
135057   1.266667            15
135058   1.111111            18
135059   1.666667             9
135060   1.136364            22
135062   1.238095            21
135063   1.250000             8
135064   0.882353            17
135065   1.111111             9
135066   1.500000            12
135069   0.500000            12
135070   0.875000             8
135071   1.000000             9
135072   1.250000             8
135073   1.500000             4
135074   1.750000             4
135075   1.692308            13
135076   1.307692            13
135079   1.176471            17
135080   1.000000             6
135081   1.181818            11
135082   0.777778             9
135085   1.333333            36
135086   0.800000            10
135088   1.000000             6
135104   0.857143             7
135106   1.200000            10
135108   1.181818            11
135109   1.000000             4

[130 rows x 2 columns]

식당별 rating 평균, rating 갯수를 column으로 지정.

In [80]:
rating.describe()

           rating  rating_count
count  130.000000    130.000000
mean     1.179622      8.930769
std      0.349354      6.124279
min      0.250000      3.000000
25%      1.000000      5.000000
50%      1.181818      7.000000
75%      1.400000     11.000000
max      2.000000     36.000000

In [82]:
rating.sort_values('rating_count', ascending=False)

           rating  rating_count
placeID
135085   1.333333            36
132825   1.281250            32
135032   1.178571            28
135052   1.280000            25
132834   1.000000            25
135038   1.208333            24
135060   1.136364            22
135062   1.238095            21
135042   1.250000            20
132862   1.388889            18
135058   1.111111            18
132921   1.235294            17
135041   1.176471            17
135064   0.882353            17
135079   1.176471            17
135057   1.266667            15
132572   1.000000            15
135025   1.666667            15
135028   1.533333            15
135051   1.428571            14
132856   0.857143            14
135076   1.307692            13
132754   1.461538            13
135075   1.692308            13
135045   1.461538            13
135030   1.583333            12
132872   0.916667            12
135069   0.500000            12
135039   1.250000            12
132830   0.916667            12
...           ...           ...
135074   1.750000             4
132560   0.500000             4
135044   1.250000             4
134976   1.750000             4
132564   1.250000             4
132583   1.000000             4
132626   1.250000             4
132654   0.250000             4
132667   1.250000             4
132706   0.750000             4
132715   1.000000             4
132773   1.500000             4
132877   0.750000             4
135040   0.250000             4
132937   1.500000             4
134987   1.000000             4
134992   1.000000             4
132561   0.750000             4
135000   1.250000             4
135013   1.750000             4
135018   1.500000             4
135033   0.750000             4
135035   1.500000             4
135109   1.000000             4
134975   1.666667             3
132766   0.666667             3
132717   1.333333             3
135011   1.333333             3
132668   1.000000             3
135016   1.000000             3

[130 rows x 2 columns]

평점 수가 많은 순으로 정렬.

In [83]:
places[places['placeID'] == 135085]

     placeID                    name
121   135085  Tortas Locas Hipocampo

In [85]:
cuisine[cuisine['placeID'] == 135085]

    placeID   Rcuisine
44   135085  Fast_Food

특정 식당 정보를 가져왔다.

#### 추천을 위한 전처리

In [84]:
merged = pd.merge(places, geodata)
merged

,placeID,name,latitude,longitude,the_geom_meter,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,Kiku Cuernavaca,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,puesto de tacos,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,El Rincón de San Francisco,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,little pizza Emilio Portes Gil,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,carnitas_mata,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
5,135040,Restaurant los Compadres,22.135617,-100.969709,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,Camino a Simon Diaz 155 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
6,132732,Taqueria EL amigo,23.754357,-99.171288,0101000020957F00008A20E615808157C16272FECBF84F...,Calle Mezquite Fracc Framboyanes,Cd Victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,none,casual,completely,low,?,familiar,f,open,none
7,132875,shi ro ie,22.149901,-100.993779,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,?,?,?,?,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,t,open,Internet
8,132609,Pollo_Frito_Buenos_Aires,23.760268,-99.165865,0101000020957F0000A478418BBA8057C133851EB22C4E...,tampico,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,quiet,t,closed,none
9,135082,la Estrella de Dimas,22.151448,-100.915099,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...,Villa de Pozos 192 Villa de Pozos,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
10,135070,Restaurante 75,22.152918,-100.915164,0101000020957F0000ED435B84934958C1B3CF85FA9791...,Villa de Pozos 4497 Villa de Pozos,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
11,135069,Abondance Restaurante Bar,22.140129,-100.944872,0101000020957F000038E5D546B74A58C18FD29AD0D29A...,Industrias 908 Valle Dorado,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,low,?,familiar,f,closed,none
12,135065,El angel Restaurante,22.149580,-100.999557,0101000020957F000094A6A8E3C14758C17435E6D1DBA9...,Venustiano Carranza 1625 Jardin,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,f,closed,none
13,135076,Restaurante Pueblo Bonito,22.181017,-100.973614,0101000020957F00005657121FAA4358C1A8030D5598A0...,Mexico 2015 Providencia,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
14,135086,Mcdonalds Parque Tangamanga,22.141421,-101.013955,0101000020957F0000FA1A0E5A9B4858C17C884C4173AE...,Lateral Salvador Nava Martinez 3145,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,t,closed,none
15,132870,Tortas y hamburguesas el gordo,22.143078,-100.935479,0101000020957F0000550FC1FC854A58C16D7D4E35F897...,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,low,?,familiar,f,closed,none
16,132854,Sirlone,22.137863,-100.938327,0101000020957F0000FEC3FB453E4B58C19B4A46361799...,carr. mexico,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,none,informal,completely,medium,?,familiar,f,closed,none
17,132937,rockabilly,22.150019,-100.979920,0101000020957F0000F9F19DDC3B4858C191B265A83BA4...,agustin de iturbide,san luis potosi,san luis potosi,mexico,?,...,Full_Bar,section,informal,completely,low,?,quiet,f,closed,variety
18,132856,Unicols Pizza,22.151378,-100.974634,0101000020957F0000C1B7D30B2C4858C1CE557111A5A2...,Plaza del Carmen,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,none,informal,completely,low,?,familiar,f,closed,none
19,132668,TACOS EL GUERO,23.738212,-99.151955,0101000020957F000003B195E25F8457C1C535BD04614B...,?,victoria,tamaulipas,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
20,135033,Restaurant El Muladar de Calzada,22.141610,-100.973142,0101000020957F00000F624C60B54958C11757339BCCA2...,De Guadalupe 460 San Miguelito,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,section,informal,no_accessibility,medium,?,familiar,f,closed,none
21,132862,La Posada del Virrey,22.150643,-100.987015,0101000020957F0000AF95272CF14758C165B2F91238A6...,Av. V. Carranza,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,none,casual,completely,high,?,familiar,f,closed,none
22,134983,Restaurant and Bar and Clothesline Carlos N Ch...,18.948657,-99.235361,0101000020957F0000DEF36F4FC76A5AC162B083D9A054...,Domingo 10 711 El Empleado,Cuernavaca,Morelos,Mexico,?,...,Full_Bar,section,informal,no_accessibility,high,carlosandcharlies.com,familiar,f,closed,none
23,132851,KFC,22.136872,-100.934574,0101000020957F0000C74DE39C7F4B58C1061F29171498...,?,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,familiar,f,closed,none
24,135013,Giovannis,18.917441,-99.165945,0101000020957F0000D241E94E7B715AC119862B3B1E41...,40 Norte Civac 1RA. Seccion,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,low,?,familiar,f,closed,none
25,135042,Restaurant Oriental Express,22.159357,-100.973411,0101000020957F0000C66BB014FC4658C17CFE8D93D2A1...,Tangamanga 7 Tangamanga,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
26,132768,Mariscos Tia Licha,18.925773,-99.232636,0101000020957F000000DD3546816E5AC119D4BD17FD54...,avenida salvador montiel,cuernavaca,morelos,mexico,?,...,No_Alcohol_Served,not permitted,casual,partially,medium,?,familiar,t,closed,none
27,132561,cafe ambar,23.726819,-99.126506,0101000020957F000004457BB7AA8657C15F10835CD944...,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
28,135045,Restaurante la Gran Via,22.151189,-100.981790,0101000020957F00000B6735CA004858C108FD525CB2A4...,Venustiano Carranza 560 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,casual,no_accessibility,high,lagranvia.com.mx,familiar,f,closed,none
29,132847,don burguers,22.144336,-100.937382,0101000020957F00004717A23D474A58C17D1F10297098...,r.b. anaya esq. florencia,slp,slp,mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,low,?,familiar,f,open,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,134996,Sanborns Casa Piedra,18.923429,-99.216413,0101000020957F0000340233E7476F5AC132844E2A2C50...,Lomas del Mirador,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,only at bar,informal,no_accessibility,medium,?,familiar,t,closed,Internet
101,132755,La Estrella de Dimas,22.153324,-101.019546,0101000020957F000026CADE45A14658C1F011EBCA55AF...,Av. de los Pintores,San Luis Potosi,S.L.P.,Mexico,?,...,No_Alcohol_Served,none,informal,partially,medium,?,familiar,f,closed,variety
102,135043,pizza clasica,22.185756,-100.944518,0101000020957F00006B9D7207BE4358C12419118D0598...,524 Soledad de Graciano Sanchez,Soledad,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
103,132654,Carnitas Mata Calle 16 de Septiembre,23.735523,-99.129588,0101000020957F000040E8F628488557C18224E8B94845...,16 de Septiembre,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
104,135049,Restaurante de Mariscos la Langosta,22.135011,-101.028600,0101000020957F00005DAD35642E4958C11BBCDE4A02B3...,Cordillera de Los Alpes 675 Loma Verde,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
105,135073,Restaurante Bar El Gallinero,22.147175,-100.974269,0101000020957F0000D010A853D34858C116A1EA51CAA2...,Pascual M. Hernandez 210 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,f,closed,none
106,132560,puesto de gorditas,23.752304,-99.166913,0101000020957F0000FC60BDA8E88157C1B2C357D6DA4E...,frente al tecnologico,victoria,tamaulipas,mexico,?,...,No_Alcohol_Served,permitted,informal,no_accessibility,low,?,familiar,f,open,none
107,134976,Log Yin,18.916654,-99.227110,0101000020957F00002838E29F19705AC1BC368BDAC753...,?,?,?,?,?,...,No_Alcohol_Served,none,informal,no_accessibility,low,?,familiar,f,closed,none
108,135075,Mariscos El Pescador,22.139573,-100.991564,0101000020957F0000332AE8AF824958C15A4195A82CA8...,Himno Nacional 2104 Tangamanga,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
109,132660,carnitas mata calle Emilio Portes Gil,23.752943,-99.164679,0101000020957F00003D7905C9DC8157C13FCD1AB7334E...,Emilio Portes Gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
110,132921,crudalia,22.150305,-100.989134,0101000020957F00006376BB64EF4758C1013687E5D7A6...,?,?,?,?,?,...,Wine-Beer,section,casual,completely,low,?,quiet,f,open,none
111,132594,tacos de barbacoa enfrente del Tec,23.752168,-99.165709,0101000020957F00003AE4C6DBF48157C1CE38ECC1864E...,?,?,?,?,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,familiar,f,open,none
112,134986,Restaurant Las Mananitas,18.928798,-99.239513,0101000020957F00002A0D05E2D96D5AC1AB058CB1EC56...,Ricardo Linares 107,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,none,formal,no_accessibility,high,lasmananitas.com.mx,familiar,f,closed,none
113,135062,Restaurante El Cielo Potosino,22.153703,-100.979033,0101000020957F0000D177B9CFB14758C162A211E1C2A3...,Julian de Los Reyes 400 Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
114,132766,Mikasa,18.910178,-99.231544,0101000020957F000043A319BA06715AC1944336987755...,Himno nacional esq. Blvd. Juarez,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,medium,?,familiar,f,closed,none
115,135088,Cafeteria cenidet,18.876011,-99.219890,0101000020957F0000E14AD4DBC7765AC1F7B33C85B153...,Interior Internado Palmira SN,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,low,www.cenidet.edu.mx,quiet,f,closed,none
116,135058,Restaurante Tiberius,22.165587,-101.001273,0101000020957F0000EB71019D424558C15CC5404365A9...,Munoz Sn Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,t,closed,none
117,132754,Cabana Huasteca,22.147738,-100.990616,0101000020957F00002493B678494858C1AD55D2316BA7...,Cuauhtemoc 455,San Luis Potosi,S.L.P.,Mexico,?,...,No_Alcohol_Served,none,informal,partially,medium,?,familiar,f,closed,none
118,132584,Gorditas Dona Tota,23.752365,-99.165288,0101000020957F000048C65BA7EF8157C177F2344D664E...,?,?,?,?,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,t,closed,none
119,135032,Cafeteria y Restaurant El Pacifico,22.152481,-100.973486,0101000020957F000017D69FF5084858C1A8F2188740A2...,Constitucion 200 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,medium,?,familiar,f,closed,none
120,135028,La Virreina,22.146658,-100.987219,0101000020957F0000B4F00BDD8B4858C10AC3619C83A6...,Av. Carranza 830,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,medium,?,familiar,f,closed,none
121,135085,Tortas Locas Hipocampo,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Venustiano Carranza 719 Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,familiar,f,closed,none
122,132663,tacos abi,23.752511,-99.166954,0101000020957F0000FDF8D26EE08157C1FEDB6A1FDB4E...,?,victoria,tamaulipas,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
123,132626,la perica hamburguesa,23.737583,-99.135132,0101000020957F0000AA7883ADD88457C1FA651328BA46...,?,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,medium,?,familiar,t,closed,none
124,132583,McDonalds Centro,18.922290,-99.234332,0101000020957F0000FBE7171F056F5AC1E8A6C0A5AF55...,Rayon sn col. Centro,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,not permitted,informal,partially,low,no,familiar,t,closed,none
125,132866,Chaires,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,f,closed,none
126,135072,Sushi Itto,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,Paniroles,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,?,?,?,?,?,...,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
128,135019,Restaurant Bar Coty y Pablo,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
129,132877,sirloin stockade,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [86]:
places_crosstab = pd.pivot_table(data=frame, values='rating', index='userID', columns='placeID')
places_crosstab.head()

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
U1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
U1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
U1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

user가 각 식당에 대해 남긴 평점을 보여주기 위한 pivot table 생성.

추천할때는 melt하면 안된다.(pivot table로 쓸것)

문제점: sparse하다.

In [87]:
places_crosstab.fillna(0)

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
U1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
U1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1006,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1007,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
U1008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
U1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1011,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1013,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
U1014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0
U1017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
U1019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
U1021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
U1025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1026,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
U1028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
U1030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
U1110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
U1112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
U1114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
U1116,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
U1117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
U1118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1119,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
U1123,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
U1124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
U1125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0
U1127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1129,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
U1133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
U1135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U1137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
U1138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

머신러닝을 적용하기 위해 str을 숫자로 바꾼다: NaN은 0으로 대체.

In [88]:
places_crosstab.corr()

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
placeID,,,,,,,,,,,,,,,,,,,,,
132560,1.000000,NaN,NaN,NaN,NaN,1.000000,1.00000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132561,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132564,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132572,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.090909,NaN,NaN,-0.428571,0.645497,NaN,NaN,NaN,NaN,NaN
132583,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132584,1.000000,NaN,NaN,NaN,NaN,1.000000,1.00000,1.000000,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.707107,NaN,NaN,NaN
132594,1.000000,NaN,NaN,NaN,NaN,1.000000,1.00000,1.000000,NaN,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132608,NaN,NaN,NaN,NaN,NaN,1.000000,1.00000,1.000000,0.904534,0.816497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132609,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.904534,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132613,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,0.816497,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.866025,NaN,NaN,NaN
132626,NaN,0.866025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.522233,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.577350,NaN,NaN,NaN
132654,NaN,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132663,1.000000,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,0.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
132665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.333333,NaN,NaN,NaN
132668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132706,NaN,-0.174078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132723,NaN,NaN,NaN,-0.577350,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.301511,NaN,NaN,NaN,NaN,NaN,NaN
132732,0.904534,NaN,NaN,NaN,NaN,0.866025,0.57735,1.000000,1.000000,0.301511,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.218218,NaN,NaN,NaN
132733,1.000000,NaN,1.0,NaN,NaN,0.000000,1.00000,0.866025,NaN,0.852803,...,NaN,NaN,NaN,NaN,NaN,NaN,0.133631,NaN,NaN,NaN
132740,1.000000,NaN,NaN,NaN,NaN,1.000000,0.57735,1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
132754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.930261,NaN,NaN,NaN,NaN,NaN,NaN
132755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132768,NaN,NaN,NaN,NaN,0.866025,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.166667,NaN,NaN,NaN,NaN,NaN,0.810093,NaN
135055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.612372,0.645497,-0.500000,NaN,NaN,NaN,NaN,0.650000,NaN
135058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.292174,0.790569,NaN,NaN,NaN,NaN,NaN
135059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
135060,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.904534,NaN,0.342381,NaN,NaN,NaN,0.868599,NaN,NaN
135062,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.594089,NaN,0.898933,NaN,NaN,NaN,0.174078,NaN,NaN
135063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.500000,NaN,0.866025,NaN,NaN,NaN,NaN,NaN,NaN
135064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.166667,1.000000,NaN,NaN,NaN,NaN,NaN
135065,NaN,NaN,NaN,0.301511,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,-0.375000,NaN,NaN,NaN,NaN,NaN,NaN
135066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.763763,-1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
135069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.333333,0.333333,NaN,NaN,NaN,NaN,NaN,0.353553,NaN
135070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.500000,0.525226,NaN,NaN,NaN,NaN,NaN,0.547723,NaN
135071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.250000,NaN,NaN,NaN,NaN,NaN,0.273861,NaN
135072,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.500000,NaN,NaN,NaN,NaN,NaN,NaN
135073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135075,NaN,NaN,NaN,0.078811,NaN,NaN,NaN,NaN,NaN,NaN,...,0.133631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.218218,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
135079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,0.399012,0.866025,NaN,NaN,NaN,NaN,NaN
135080,NaN,NaN,NaN,-0.090909,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,0.370479,NaN
135085,NaN,NaN,NaN,-0.428571,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.454545,NaN,NaN
135086,NaN,NaN,NaN,0.645497,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
135088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
135104,NaN,NaN,NaN,NaN,NaN,-0.707107,NaN,NaN,NaN,-0.866025,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
135106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.454545,NaN,NaN,NaN,1.000000,NaN,NaN
135108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.370479,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
135109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

식당들끼리의 correlation을 구했다.

In [90]:
temp = places_crosstab.T.corr()
temp['U1004'].dropna()

userID
U1004    1.000000
U1024    0.333333
U1032   -1.000000
U1045   -1.000000
U1054   -0.500000
U1071    1.000000
Name: U1004, dtype: float64

temp: user들끼리의 correlation.

U1004의 correlation 정보를 가져왔다: U1071과 가장 연관이 깊다.

In [91]:
Tortas_ratings = places_crosstab[135085]
Tortas_ratings[Tortas_ratings>=0]

userID
U1001    0.0
U1002    1.0
U1007    1.0
U1013    1.0
U1016    2.0
U1027    1.0
U1029    1.0
U1032    1.0
U1033    2.0
U1036    2.0
U1045    2.0
U1046    1.0
U1049    0.0
U1056    2.0
U1059    2.0
U1062    0.0
U1077    2.0
U1081    1.0
U1084    2.0
U1086    2.0
U1089    1.0
U1090    2.0
U1092    0.0
U1098    1.0
U1104    2.0
U1106    2.0
U1108    1.0
U1109    2.0
U1113    1.0
U1116    2.0
U1120    0.0
U1122    2.0
U1132    2.0
U1134    2.0
U1135    0.0
U1137    2.0
Name: 135085, dtype: float64

특정 식당에 매겨진 평점 정보를 가져왔다.

In [93]:
similar_to_Tortas = places_crosstab.corrwith(Tortas_ratings)

corr_Tortas = pd.DataFrame(similar_to_Tortas, columns=['PearsonR'])
corr_Tortas.dropna(inplace=True)
corr_Tortas

/Users/keith_lee/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/keith_lee/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

         PearsonR
placeID
132572  -0.428571
132723   0.301511
132754   0.930261
132825   0.700745
132834   0.814823
132856   0.475191
132861   0.500000
132862   0.559017
132872   0.840168
132921   0.493013
132922   1.000000
132925   1.000000
132937   1.000000
132951   0.416667
135025  -0.084215
135026   0.000000
135027   0.408248
135028   0.892218
135030   0.654654
135032   0.342475
135038   0.831513
135039   0.090909
135041   0.643796
135042   0.881409
135044   0.500000
135045   0.912871
135046   0.867722
135047   0.000000
135051   0.710047
135052   0.741825
135053   1.000000
135057  -0.500000
135058   0.292174
135059   0.000000
135060   0.342381
135062   0.898933
135063   0.866025
135064   0.166667
135065  -0.375000
135066   1.000000
135072   0.500000
135076   1.000000
135079   0.399012
135085   1.000000
135106   0.454545

135085 식당에 대해 Pearson 상관계수법을 적용하여 상관계수를 계산하였다.

In [95]:
Tortas_corr_summary = corr_Tortas.join(rating['rating_count'])
Tortas_corr_summary[Tortas_corr_summary['rating_count']>=10].sort_values('PearsonR', ascending=False)

         PearsonR  rating_count
placeID
135076   1.000000            13
135085   1.000000            36
135066   1.000000            12
132754   0.930261            13
135045   0.912871            13
135062   0.898933            21
135028   0.892218            15
135042   0.881409            20
135046   0.867722            11
132872   0.840168            12
135038   0.831513            24
132834   0.814823            25
135052   0.741825            25
135051   0.710047            14
132825   0.700745            32
135030   0.654654            12
135041   0.643796            17
132862   0.559017            18
132921   0.493013            17
132856   0.475191            14
135106   0.454545            10
132951   0.416667            10
135079   0.399012            17
135032   0.342475            28
135060   0.342381            22
132723   0.301511            12
135058   0.292174            18
135064   0.166667            17
135039   0.090909            12
135047   0.000000            10
135026   0.000000            11
135025  -0.084215            15
132572  -0.428571            15
135057  -0.500000            15

135085 식당의 상관계수 계산 결과 중 평점의 갯수가 10개 이상인 식당에 대해 상관계수가 높은 순으로 정렬.

In [97]:
places_corr_Tortas = pd.DataFrame([135085, 132754, 135045, 135062, 135028, 135042, 135046], index=np.arange(7), columns=['placeID'])
summary = pd.merge(places_corr_Tortas, cuisine, on='placeID')
summary

   placeID   Rcuisine
0   135085  Fast_Food
1   132754    Mexican
2   135028    Mexican
3   135042    Chinese
4   135046  Fast_Food